.App {
  background-color: hotpink;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 10vh;
  background-color: navajowhite;
}
.App-main {
  flex: 1;
  background-color: navy;
}
.App-footer {
  min-height: 5%;
  background-color: crimson;
}
